/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  text-decoration: none;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  height: 100vh;
  max-height: 100vh;
}

#root {
  height: 100vh;
}
